.happyclient {
  background: url(../../imgs/happy-client/bg-happy-client.jpg) no-repeat center
    center / cover;
  padding: 90px 0;
  .card {
    border: none;
    background-color: transparent;
    margin: 25px 0;
    .line-shape {
      margin: 10px 0 15px;
    }
    .avatar {
      border-radius: 50%;
      object-fit: cover;
      width: 100px;
      height: 90px;
    }
  }
}
