.header {
  background-image: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url("../../imgs/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .navbar {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    &-brand {
      font: {
        size: 30px;
        weight: 700;
      }
    }
    .nav-link {
      font: {
        size: 14px;
        weight: 400;
      }
      color: $whiteColor;
      margin: 0 10px;
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
    }
  }
  .carousel {
    color: $whiteColor;
    &-indicators {
      bottom: 50px;
      margin: 0;
    }
    &-indicators li {
      margin: 0 10px;
      width: 100%;
      height: 3px;
      text-indent: initial;
      .inner {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        margin-top: 15px;
        position: relative;
        .number {
          font: {
            size: 24px;
            weight: 700;
            family: "Montserrat", sans-serif;
          }
        }
      }
    }
    &-inner {
      height: 650px;
    }
    &-item {
      top: 70px;
      &__sub {
        font-size: 55px;
        margin-bottom: 20px;
      }
      &__head {
        font-size: 110px;
        line-height: 1;
        color: $whiteColor;
      }
      .line-shape {
        background-color: $whiteColor;
      }
      .btn {
        border: 2px solid $whiteColor;
        &:hover {
          background-color: #f38181;
        }
      }
    }
  }
}
.fixed-nav #navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #75b4a8;
  z-index: 3;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  border-color: $hoverNavbarBtn;
  color: $hoverNavbarBtn;
}

.carousel-indicators li:hover .inner:after,
.carousel-indicators li.active .inner:after {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  width: 60px;
  height: 3px;
  background: $lineColor;
}

@media (max-width: 992px) {
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    border-color: transparent;
  }
  .navbar-expand-lg > .container {
    padding: 0 10px;
  }
}

@media (max-width: 762px) {
  .header .carousel-item__sub {
    font-size: 40px;
  }
  .header .carousel-item__head {
    font-size: 50px;
  }
  .header .carousel-inner {
    height: 400px;
  }
  .header .carousel-item {
    top: 30px;
  }
  .header .carousel-indicators li .inner .number {
    display: none;
  }
}

@media (max-width: 576px) {
  .header .carousel .carousel-indicators {
    bottom: 50px;
  }
}
