.map {
  background: url(../../imgs/bg-map.jpg) no-repeat center center / cover;
  padding: 50px 0;
  margin-bottom: 0;
  .icon,
  .text {
    color: #f38181;
    cursor: pointer;
    font-size: 24px;
  }
  .line-shape {
    width: 68px;
    margin: 13px auto 0;
  }
}
