.ourteam {
  .section-content {
    margin: 50px 0;
    .card {
      margin: 0 15px;
      background: $iconColor;
      border: none;
      &-overlay {
        position: relative;
      }
      &-img {
        object-fit: cover;
        &-overlay {
          opacity: 0;
          text-align: center;
          i {
            font-size: 25px;
            color: #f38181;
            padding: 15px;
            background: #fce38a;
            margin: 0 -1px;
            text-decoration: none;
            outline: none;
            border: none;
            &:hover {
              color: #fff;
              background: #f38181;
            }
          }
        }
      }
    }
  }

  .card:hover .card-overlay {
    left: -10px;
    top: -10px;
  }

  .card:hover .card-img-overlay {
    background: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    );
    transition: all 0.3s ease-in-out;
    padding-top: 200px;
    opacity: 1;
  }
}
