.story {
  .section-content {
    margin: 100px 0;
    .card {
      background: #95e1d3;
      border: none;
      &-overlay {
        position: relative;
      }
      &-img {
        object-fit: cover;
        &-overlay {
          opacity: 0;
          text-align: center;
        }
      }
    }
  }

  .card:hover .card-overlay {
    left: -10px;
    top: -10px;
  }

  .card:hover .card-img-overlay {
    background: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    );
    transition: all 0.3s ease-in-out;
    padding-top: 80px;
    opacity: 1;
  }
}
